* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dice {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    width: 15vw;
    height: 64vh;
    background-color: rgb(179, 118, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    font-size: 1.8rem;
}

button {
    height: 50px;
    background-color: black;
    border: none;
    color: antiquewhite;
    min-width: 150px;
    border-radius: 25px;
    font-size: 1.2rem;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    font-size: 3rem;
}

.p1 {
    font-size: 1.5rem;
}