* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dice {
    height: 40px;
    width: 40px;
}